h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #e63946;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #1d3557;
}

a {
  color: #7400b8;
  text-decoration: none;
}

a:hover {
  color: #6930c3;
  text-decoration: underline;
}

#daily-challenge {
  color: #b5838d;
  font-weight: bold;
  font-size: 32px;
}
