header {
  margin-bottom: 48px;
}

h1 {
  font-size: 32px;
  color: #1d3557;
  margin: 12px 0;
}

a {
  padding: 12px 32px;
  background-color: #e63946;
  color: #fff;
  border: 1px solid #e63946;
  border-radius: 4px;
  font-size: 24px;
}

a:hover {
  background-color: #d90429;
  text-decoration: none;
  color: #f1faee;
}

ol {
  list-style: none;
  color: #003049;
  width: 600px;
  margin: 32px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  background-color: #f4a261;
  border-radius: 6px;
  margin: 32px;
}

#description {
  color: #1d3557;
  margin-bottom: 32px;
}

h2 {
  color: #370617;
  font-weight: 700;
}

main p {
  margin: 12px;
}

.daily-goal {
  color: #1d3557;
}

.highlighted-goal {
  background-color: #e76f51;
}
